{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.agentscope/agentscope {:mvn/version "1.0.9"}
        com.google.genai/google-genai {:mvn/version "1.44.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}}
 :aliases
 {:run-main {:main-opts ["-m" "agentscope.main"]}
  :run-tool-use {:main-opts ["-m" "agentscope.tool-use"]}}}
